body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

h2 {
  font-weight: 600;
  display: inline;
}

.row {
  height: 100%;
}

.nav-link {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

.container {
  max-width: 1300px;
  margin-bottom: 100px;
}

.intro {
  margin-top: 200px; margin-bottom: 200px;
}

.mit-lincoln-lab {
  background-color: rgb(25, 25, 105);
}

.airvisuals {
  background-color: rgb(116, 116, 240);
}

.counterpoint {
  background-color: rgb(41, 41, 41);
}

.kpop-machine-learning {
  background-color: rgb(155, 30, 155);
}

.showcase-text {
  /* margin: 60px 40px 70px 40px; */
}

.showcase-title {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.showcase-blurb {
  position: absolute;
  top: 120px;
  left: 50px;
  color: white;
  font-weight: 900; font-size: 25px;
  letter-spacing: 1px;
  line-height: 140%;
}

.showcase {
  height: 420px;
  margin-top: 50px;
  overflow: hidden;
}

.showcase-img-container {
  position: relative;
  overflow: hidden;
}

.showcase-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  bottom: 50px;
  left: 50px;
  border-radius: 2px;
  padding: 10px 15px 10px 15px;
  
}

.btn-text {
  font-size: 13px;
  font-weight: bold;
}