/* CSS RESET ===================================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET ===================================================================================== */

/* ===================================================
OVERALL
=================================================== */
/* VARIABLES */
:root {
  /* COLORS */
  --navy-dark: #2d3e4d;
  --navy-light: #445460;
  --papaya: #f54b2e;
  --blue-grey: #97a2a9;
  --grey-6: #f2f2f2;
  --grey-5: #e0e0e0;
  --grey-4: #bdbdbd;
  --grey-3: #828282;
  --grey-2: #4f4f4f;

  /* SIZES */
  --large-min: 1850px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: "Fira Sans", sans-serif;
}

/* ===================================================
LAYOUTS
=================================================== */
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

.container-slim {
  margin: 0 auto;
  width: 60%;
  max-width: 1000px;
}

@media all and (max-width: 800px) {
  .container-slim {
    margin: 0 auto;
    width: 90%;
  }
}

/* ===================================================
OVERALL STYLES
=================================================== */
a,
a:hover {
  text-decoration: none;
}

.btn,
.btn-round {
  padding: 0.9em 1.9em;
  text-align: center;
}

.btn {
  border-radius: 8px;
}

.btn-round {
  border-radius: 30px;
}

.btn-accent {
  color: #fff;
  background: var(--papaya);
  text-transform: capitalize;
  font-weight: 400;
}

.btn-accent:hover {
  color: var(--papaya);
  background-color: #fff;
}

/* ===================================================
COMMON COMPONENTS
=================================================== */

.line-nav {
  font-size: 1.2rem;
}

.line-nav li {
  vertical-align: top;
  display: inline-block;
  text-transform: lowercase;
}

.line-nav li:last-child {
  margin-right: 0;
}

/* ===================================================
HEADERS
=================================================== */
.header {
  padding: 2.15em 0 6em 0;
  margin-bottom: 15em;
}

.header-info {
  margin-top: 7.5em;
}

.header-info-text {
  display: inline-block;
  width: 50%;
  padding-right: 5em;
}

@media all and (max-width: 1440px) {
  .header-info-text {
    display: block;
    max-width: 50em;
    padding-right: 0;
    width: 100%;
  }
}

.header-desc {
  margin: 4em 0 5em 0;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6em;
}

.header-title h1 {
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 0.1em;
  /* text-transform: uppercase; */
}

.header-title h3 {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}

.header-links {
  display: flex;
  justify-content: space-between;
  max-width: 40em;
  padding-right: 4em;
}

.header-link a {
  text-transform: capitalize;
  color: #fff;
  font-weight: 200;
}

.header-link:hover a,
.header-link-icon:hover a {
  border-bottom: 2px var(--papaya) solid;
}

li.header-link-icon {
  display: none;
  position: relative;
  top: -0.7em;
}

#gmail-icon {
  top: -1em;
}

@media all and (max-width: 800px) {
  .header-links {
    padding-right: 2em;
  }

  li.header-link {
    display: none;
  }

  li.header-link-icon {
    display: inline-block;
  }
}

.filter-white {
  filter: brightness(0) invert(1);
}

.header-side {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  text-align: right;
}

.header-side img {
  margin: 1em 0;
  max-width: 95%;
  border-radius: 20px;
}

.header-side p {
  position: relative;
  left: -1em;
  color: var(--blue-grey);
}

@media all and (max-width: 1440px) {
  .header-side {
    display: none;
  }

  html {
    font-size: 12px;
  }
}

.header-scroll-prompt {
  position: relative;
  top: 9.5em;
  width: 100%;
  text-align: center;
  color: var(--navy-dark);
  font-weight: 600;
}

/* PRIMARY HEADER LAYOUT */
.primary-header {
  background: var(--navy-dark);
  background-image: linear-gradient(
    to right,
    var(--navy-dark),
    var(--navy-light)
  );
  color: white;
  border-radius: 0 0 40px 40px;
}

/* PRIMARY HEADER TEXT STYLES */
.primary-nav a {
  color: var(--blue-grey);
}

.primary-nav .selected-nav,
.primary-nav a:hover {
  color: #fff;
}

/* PRIMARY HEADER NAV */
.primary-nav {
  text-align: right;
  color: var(--blue-grey);
}

.primary-nav li {
  margin: 0 2.25em;
}

@media all and (max-width: 1080px) {
  .primary-nav {
    display: none;
  }
}

/* ===================================================
BIO SECTIONS
=================================================== */
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-title {
  text-align: center;
  margin: 12em 0 -3em 0;
}

.section-title h1 {
  color: var(--navy-dark);
  font-size: 3rem;
  font-weight: 500;
}

.section-title h2 {
  color: var(--grey-6);
  font-size: 6rem;
  font-weight: 500;
  position: relative;
  top: -0.75em;
  z-index: -1;
}

div.bio-info {
  width: 31%;
}

@media all and (max-width: 1080px) {
  .section-title {
    margin-top: 5em;
  }

  .section-title h1 {
    color: var(--navy-dark);
    font-size: 2.5rem;
    font-weight: 400;
  }

  .section-title h2 {
    color: var(--grey-6);
    font-size: 5rem;
    font-weight: 500;
    position: relative;
    top: -0.75em;
    z-index: -1;
  }
}

.bio-info header {
  display: flex;
  align-items: center;
}

.bio-info img {
  margin-right: 0.75em;
}

.bio-info h3 {
  color: var(--navy-dark);
  width: 50%;
  font-size: 1.4rem;
}

.bio-info p {
  color: var(--grey-3);
  line-height: 1.3em;
  padding-top: 1em;
  padding-right: 1em;
  font-size: 1.2rem;
}

@media all and (max-width: 1440px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  div.bio-info {
    width: 100%;
    max-width: 40em;
    margin-bottom: 3em;
  }

  .bio-info br {
    display: none;
  }

  .bio-info p {
    padding-top: 0.5em;
  }
}

/* ===================================================
TIMELINE / WORK SECTION
=================================================== */
.dot {
  height: 25px;
  width: 25px;
  background-color: var(--papaya);
  border: 3px solid var(--grey-5);
  border-radius: 50%;
  display: inline-block;
}

.timeline-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .timeline-list,
.timeline-item,
.timeline-item-label,
.timeline-link,
.large-card-aside,
.large-card-header,
.large-carder-header p {
  border: black 1px solid;
} */

.timeline-item {
  width: 100%;
  max-width: 55em;
}

.timeline-item-label,
.timeline-link {
  display: flex;
  align-items: center;
  width: 96%;
  max-width: 48em;
  margin-bottom: 2em;
  /* for the absolute position of timeline-line to work */
  position: relative;
}

.timeline-item-label h3 {
  color: var(--navy-dark);
  margin-left: 1em;
  font-size: 1.5rem;
}

.timeline-line {
  border-left: 4px solid var(--grey-5);
  height: 7em;
  position: absolute;
  top: 11px;
  left: 10.5px;
  z-index: -1;
}

.timeline-link {
  margin-bottom: 8em;
}

.timeline-link .timeline-line {
  top: 0;
  height: 15em;
}

.large-card {
  width: 95%;
  margin: 0 auto;
  height: 21em;
  color: var(--grey-2);
  background: var(--grey-6);
  border-radius: 8px;
  padding: 4em 4em;
  display: flex;
  align-items: flex-start;
}

@media all and (max-width: 1080px) {
  .large-card {
    width: 100%;
  }
}

.large-card-header {
  width: 45%;
}

.large-card-header h1 {
  font-size: 2.3rem;
  letter-spacing: 0.02em;
  margin-bottom: 0.3em;
  font-weight: 600;
}

.large-card-header p {
  font-size: 1.1rem;
  line-height: 1.6em;
  font-weight: 100;
  margin-bottom: 3em;
}

.large-card-aside {
  color: var(--grey-5);
  width: 55%;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1.2em;
  text-align: center;
  align-self: center;
}

@media all and (max-width: 540px) {
  .timeline-item-label h3 {
    font-size: 1.75rem;
  }

  .large-card {
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    height: 33em;
  }

  .large-card-header,
  .large-card-aside {
    width: 100%;
    text-align: center;
  }

  .large-card-header h1 {
    font-size: 4em;
  }

  .large-card-header p {
    font-size: 1.75em;
    margin-bottom: 1.5em;
  }

  .large-card-aside {
    width: 100%;
    font-size: 3em;
    max-width: 10em;
    margin-top: 1.2em;
  }
}

/* ===================================================
INDIVIDUAL PROJECT CARDS
=================================================== */
#airvisuals .btn-round {
  background: var(--grey-5);
}

/* ===================================================
FOOTER
=================================================== */
footer {
  margin-top: 10em;
}

.footer-text {
  display: flex;
  margin: 2em;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.footer-text p {
  color: var(--grey-3);
}

.footer-nav li {
  margin-left: -3em;
  font-weight: 900;
}

.footer-nav li:last-child {
  margin-left: 3em;
}

.footer-nav a {
  color: var(--blue-grey);
}

.footer-nav a:hover,
.footer-nav .selected-nav {
  color: var(--navy-dark);
}

.bottom-bar {
  display: inline-block;
  height: 1.25em;
  width: 25%;
  margin-bottom: -1em;
}

.bg-papaya {
  background: var(--papaya);
}

.bg-navy-dark {
  background: var(--navy-dark);
}

.bg-navy-light {
  background: var(--navy-light);
}

.bg-blue-grey {
  background: var(--blue-grey);
}

@media all and (max-width: 900px) {
  .footer-text {
    flex-direction: column;
    font-size: 1.3rem;
    margin: 0.6em;
  }

  .footer-text p {
    margin-bottom: 0.5em;
  }

  .footer-nav {
    display: none;
  }
}
